.cuInputContainer{
    margin-bottom: 15px;
    margin-top: 10px;
    width: 610px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cuInputAddress{
    width: 610px;
    height: 80px;
}

.cuInputContainer .cuInputAddress .inputAddress{
    width: 610px;
}


