.textForm{
    font-weight: 500;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.textForm p{
    margin-top: 2px !important;
    margin-bottom: 0px !important;
}